In [76]:
import pandas as pd
import numpy as np
import math
from textblob import TextBlob as tb
import nltk
import string
from nltk.tokenize import RegexpTokenizer

In [36]:
corpus = pd.read_csv("train.csv")

In [37]:
corpus.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [38]:
new_corpus = corpus.groupby("author")

In [60]:
tokenizer = RegexpTokenizer(r'\w+')
author_text = {}
words_set = []
tokens = []
for name, author in new_corpus:
    author_text[name] = author['text'].str.cat(sep = ' ').lower()
    words_set.extend(list(set(tokenizer.tokenize(author_text[name]))))
    tokens.extend(list(tokenizer.tokenize(author_text[name])))
words_set = list(set(words_set))

In [57]:
word_count = {}
for authors in author_text:
    word_count[authors]={}
    for i in words_set:
        word_count[authors][i] = author_text[authors].count(i)

In [68]:
df = pd.DataFrame(word_count)

In [70]:
df.head()

         EAP    HPL    MWS
a      69783  57982  56217
aaem       2      0      0
ab      1846   1411   1152
aback      2      0      0
abaft      0      0      1

In [72]:
df['doc_freq'] = df.astype(bool).sum(axis=1)

In [74]:
df.head()

         EAP    HPL    MWS  doc_freq
a      69783  57982  56217         3
aaem       2      0      0         1
ab      1846   1411   1152         3
aback      2      0      0         1
abaft      0      0      1         1

In [77]:
df['idf'] = np.log(3/df['doc_freq'])

In [79]:
df.head()

         EAP    HPL    MWS  doc_freq       idf
a      69783  57982  56217         3  0.000000
aaem       2      0      0         1  1.098612
ab      1846   1411   1152         3  0.000000
aback      2      0      0         1  1.098612
abaft      0      0      1         1  1.098612

In [85]:
tf_idf_df = pd.DataFrame(index=df.index, columns=df.columns)
tf_idf_df = tf_idf_df.fillna(0) # with 0s rather than NaNs


tf_idf_df = df[['EAP','HPL','MWS']].multiply(df['idf'], axis="index")

In [87]:
tf_idf_df.head()

            EAP  HPL       MWS
a      0.000000  0.0  0.000000
aaem   2.197225  0.0  0.000000
ab     0.000000  0.0  0.000000
aback  2.197225  0.0  0.000000
abaft  0.000000  0.0  1.098612

Get tf-idf matrix for test dataset and find max cosine similarity